@media (min-width: 48rem) {

    #members.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

    .events,
    .weather {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    .spotlights #spotlight-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5rem;

    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text {
        padding: 2rem 3rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }

    .navigation li a {
        color: wheat;
    }

    @media (min-width: 48rem) {
        .form-container {
            max-width: 900px;
            margin: 2rem auto;
        }

        form {
            padding: 2rem 3rem;
        }
    }

}