@media (min-width: 640px) {

    /* HEADER LAYOUT */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 1rem;
    }

    .navigation li {
        list-style: none;
    }

    .navigation a {
        padding: 0.5rem 0.75rem;
    }

    /* GRID */
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* HERO */
    .hero {
        padding: 3rem;
    }
}